.App {
  text-align: center;
}
body{
  background-image: url(../public/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  /* max-height: 100vh; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.addcontainer{
  background: #c4c3c319;
  padding: 12px;
  /* width: 100vw; */
  border: none;
  /* border-radius: 12px; */
}
.footer{
  background: #c4c3c319;
  
}
.text-wrap-container {
  max-width: 70%; /* Adjust width as needed */
  word-wrap: break-word; /* Breaks long words */
  overflow-wrap: break-word; /* Ensures text wraps */
  white-space: normal; /* Prevents text from staying in one line */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
